body {
    background-color: #333;
}

.box {
    background-color: #fff;
    width: 250px;
    height: 250px;
    position: relative;

    animation-name: animate1;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.box1 {
    background-color: aquamarine;
    width: 160px;
    height: 160px;
    position: relative;
    top:0;
    left:0;
    

    animation-name: animate2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}




@keyframes animate1{
    from {
     top:0;
    }
    to {
        width: 600px;
        background-color: tomato;
        top:350px;
    }
   
}

@keyframes animate2{
  25% {
    top:0;
    left:300px;
    background-color: red;
    border-radius: 50% 0 0 0;
  }
  50% {
    top:300px;
    left: 300px;
    background-color: rgb(71, 255, 135);
    border-radius: 50% 0 25% 0;
  }
  75% {
    top:300px;
    left:0;
    background-color: gray;
    border-radius: 50% 0 50% 0;
  }
  100% {
    top:0;
    left:0;
    background-color: yellowgreen;
    border-radius: 50%;
  }
}