body{
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    background-color: #fff;
    height: 300px;
    width: 300px;

    transition: 3s all ease-in-out;


}

.box:hover {
    transform:translate(100px,100px)  rotate(180deg) ;
    
    background-color: blue;
    color: yellow;


}

#letter {
    line-height: bold;    
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 350px;    
    text-align: center;
    color: red;    
    margin: 0;

}